@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Happy+Monkey&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
.App {
  box-shadow: 20px 20px 40px #d9d9d9, -20px -20px 40px #ffffff;
  padding: 15px;
  height: 50vh;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  border-radius: 50px;
  background: #ffffff;
  position: relative;
}
.title {
  font-size: 3rem;
  padding: 5px 10px;
  font-family: "Chango", cursive;
  position: absolute;
  top: -30%;
  color: blue;
}

.counterWrapper {
  position: relative;
  top: 5%;
  padding: 15px;
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.count {
  font-family: "Happy Monkey", cursive;
  font-size: 1.8rem;
  color: green;
  text-align: center;
  padding: 19px;
  border: 3px solid green;
  border-radius: 15px;
  font-weight: bold;
  margin: 5px;
}

.details {
  position: absolute;
  top: 22%;
  left: 20px;
  min-height: 40%;
  width: 35%;
  box-shadow: 20px 20px 40px #d9d9d9, -20px -20px 40px #ffffff;
  border-radius: 15px;
  padding: 10px;
  font-family: "Happy Monkey", cursive;
  padding-left: 20px;
  background: white;
}
