@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Happy+Monkey&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2.8rem;
  padding: 20px 30px;
  font-family: "Chango", cursive;
  color: blue;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  font-family: "Happy Monkey", cursive;
  height: 425px;
  width: 300px;
}
p {
  font-size: 22px;
  margin: 0;
  color: black;
  font-weight: 500;
}
a {
  margin: 5px;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 2px;
  font-weight: 500;
}
